""" Pre-processing reports in order to be able to label each paragraph of each report"""

In [129]:
import pandas as pd

rep_lbl = pd.read_csv('mock_lbl.tsv', sep='\t')
rep_lbl['label'] = 'not yet'
rep_lbl.head()

                                              report    label
0  Malik arrived with a defiant attitude, refusin...  not yet
1  Grey skies and a persistent drizzle set a gloo...  not yet
2  Autumn leaves crunched underfoot as Malik arri...  not yet
3  Cold wind whipped through the trees as Malik a...  not yet
4  The first hard frost of the season coated the ...  not yet

In [130]:
# Separating paragraphs from the same report
rep_lbl['report'] = rep_lbl['report'].str.split('\\\\n')
rep_lbl = rep_lbl.explode('report').reset_index(drop=True)

In [131]:
rep_lbl['report'] = rep_lbl['report'].str.strip('\\t')
rep_lbl.head()

                                              report    label
0  Malik arrived with a defiant attitude, refusin...  not yet
1   I gave Malik space while casually chatting ab...  not yet
2   Suggesting a kickabout, Malik perked up sligh...  not yet
3   During lunch, Malik sat alone, scrolling his ...  not yet
4   In the afternoon, I introduced Malik to the b...  not yet

In [132]:
rep_lbl.to_csv('rep_lbl.tsv', sep='\t', index=False)